<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ISALogs.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ISALogs.Properties.Settings.LogsDBConnectionString"
            connectionString="Data Source=|DataDirectory|\LogsDB.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="ISALogs.Properties.Settings.LogsDBConnectionString1"
            connectionString="Data Source=|DataDirectory|\bin\Release\LogsDB.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
    <applicationSettings>
        <ISALogs.Properties.Settings>
            <setting name="Path" serializeAs="String">
                <value />
            </setting>
        </ISALogs.Properties.Settings>
    </applicationSettings>
</configuration>